modules = ["nodejs-20", "cpp-clang14", "swift-5.8"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start Backend Server"

[[workflows.workflow]]
name = "Start Backend Server"
author = 30887179
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"
